.Article h1 {
	margin-top: 0;
}

.Article time {
	display: block;
	margin-bottom: 0.2rem;
}

.imageWrap {
	margin: 0.3rem 0;
}

.text {
	line-height: 1.5;
	margin-bottom: 1rem;
}

.text pre {
	white-space: pre-wrap;
}

.tags {
	display: flex;
	flex-wrap: wrap;
}

.tags a {
	font-size: 0.9rem;
	background: var(--bg);
	color: var(--textColor);
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	border: thin solid #3b3b3b;
	margin-bottom: 0.8rem;
}

.tags a:hover {
	text-decoration: none;
}

.tags a:not(:last-child) {
	margin-right: 1rem;
	display: inline-block;
}
