.ArticleList {
	max-width: 28rem;
	padding-top: 1.5rem;
}

.article {
	font-weight: normal;
	margin-bottom: 1.5rem;
}

.article a {
	color: var(--textColor);
	text-decoration: none;
}

.article a:hover {
	text-decoration: underline;
}

.arrows {
	margin-top: 2rem;
	display: flex;
	align-items: center;
}

.arrows a:first-child,
.arrows > span {
	margin-right: 1.5rem;
}
