.ArticleList {
	max-width: 32rem;
}

div.ArticleList {
	padding-bottom: 0;
}

.article {
	margin-bottom: 1.7rem;
}

.article h3 {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.article time {
	opacity: 0.7;
}

.tag {
	margin-bottom: 2rem;
}

.article a {
	color: var(--textColor);
	text-decoration: none;
}

.article a:hover {
	text-decoration: underline;
}

.arrows {
	display: flex;
	align-items: center;
	position: sticky;
	bottom: 0;
	background: var(--bg);
	padding: 1rem 0;
}

.arrows a:first-child {
	margin-left: auto;
	margin-right: 1.7rem;
}

.pageNum {
	margin-right: 1.7rem;
}
