.Article {
	padding: 1rem;
}

.Article h1 {
	margin-top: 0;
}

.imageWrap {
	margin: 0.3rem 0 1rem 0;
}

.text {
	white-space: pre-wrap;
	line-height: 1.5;
	margin-bottom: 1rem;
}

.backArrow {
	padding: 1rem 0;
}

.backArrow a {
	display: flex;
	align-items: center;
}

.backArrow svg {
	width: 24px;
	height: 24px;
	margin-right: 0.4rem;
}

@media (min-width: 576px) {
	.backArrow svg {
		width: 27px;
		height: 27px;
	}
}

.tags {
	display: flex;
	flex-wrap: wrap;
}

.tags a {
	font-size: 0.9rem;
	background: var(--bg);
	color: var(--textColor);
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	border: thin solid #3b3b3b;
	margin-bottom: 0.8rem;
}

.tags a:hover {
	text-decoration: none;
}

.tags a:not(:last-child) {
	margin-right: 1rem;
	display: inline-block;
}
