.Page {
	margin: 0 auto;
	padding: 1rem;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.header h1,
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0.5rem;
}

.header button {
	background: none;
	color: var(--textColor);
	border: none;
	padding: 0;
	margin-left: auto;
}
