.Page {
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	padding: 1rem;
}

.tag {
	padding-left: 1rem;
}

.article {
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 1.5rem;
	padding: 0 1rem;
}

.article a {
	color: var(--textColor);
	text-decoration: none;
}

.article a:hover {
	text-decoration: underline;
}

.arrows {
	top: 0;
	margin: 0 -0.7rem;
	display: flex;
	position: sticky;
	justify-content: space-between;
}
