html {
	@apply sm:text-lg;
}

html,
body,
#__next {
	height: 100%;
}

:focus:not(:focus-visible) {
	outline: none;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	@apply fixed top-0 left-0 z-50 w-full bg-gray-500 dark:bg-gray-300;
	height: 3px;
}

#nprogress::after {
	content: '';
	height: 3px;
	@apply fixed top-0 left-0 z-50 w-full bg-transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply cursor-default;
}

::selection {
	@apply text-gray-50 dark:text-gray-900 bg-gray-900 dark:bg-gray-200;
}
