@import '~normalize.css/normalize.css';

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

@media (min-width: 576px) {
	body {
		font-size: 18px;
	}
}

html,
body,
#__next {
	min-height: 100%;
}

#__next {
	max-width: 750px;
	margin: 0 auto;
	padding: 1rem;
}

body {
	--bg: #0d1117;
	--textColor: #c9d1d9;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue',
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	-webkit-font-smoothing: antialiased;

	background-color: var(--bg);
	color: var(--textColor);
}

.js-focus-visible :focus:not([data-focus-visible-added]) {
	outline: none;
	box-shadow: none;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: var(--textColor);
}

#nprogress::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: transparent;
}
