@import '~modern-normalize/modern-normalize.css';

@media (min-width: 576px) {
	html {
		font-size: 18px;
	}
}

html,
body,
#__next {
	min-height: 100%;
}

#__next {
	max-width: 46rem;
	margin: 0 auto;
}

:root {
	--bg: #0d1117;
	--textColor: #c9d1d9;
}

:root.light {
	--bg: #f3f3f3;
	--textColor: #333333;
}

body {
	-webkit-font-smoothing: antialiased;

	background-color: var(--bg);
	color: var(--textColor);
}

.js-focus-visible :focus:not([data-focus-visible-added]) {
	outline: none;
	box-shadow: none;
}

#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: var(--textColor);
}

#nprogress::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: transparent;
}
