name: CI/CD

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Check code
        run: pnpm run check-format && pnpm run lint && pnpm run check-types

      - name: Run the tests and generate coverage report
        run: pnpm test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5

      - name: Build
        run: pnpm run build
